.announce-ment-list{
     .columns-distribute{
            cursor: pointer;
            text-align: center;
            border:1px solid #e2e2e2;
            border-radius: 100%;
            color: #999;
        }
    .columns-distribute:hover{
            background-color: #4c80cf;
            color: #fff;
            border:1px solid #4c80cf; 
    }
    .announce-send{
        padding: 20px 0px;
        align-items:center;
        display: flex;
        justify-content:flex-end;
        .newset-icon{
            font-size: 10px;
            padding-right: 7px;
        }
        button{
            background-color: #4c80cf;
            border-color: #4c80cf;
        }
    }
    .announcementList-oeration{
        text-align: center;
        div{
            text-align: center;
            span:nth-child(2) i{
               margin-right: 0px !important;
            }
        }
    }
}