.terraceRule_row{
    .ant-form{
        .ant-row{
            .ant-form-item{
                margin:0;
            }
        }
    }
}
.ant-modal .ant-modal-content .ant-modal-body {
    .preview_style{
        margin: 0 ;
    }
    .addTenant-con{
      input::-webkit-input-placeholder{
        font-family:PingFangTC-Regular;
        color:#9b9b9b;
      }
      input::-moz-input-placeholder{
        font-family:PingFangTC-Regular;
        color:#9b9b9b;
      }
      input::-o-input-placeholder{
        font-family:PingFangTC-Regular;
        color:#9b9b9b;
      }
      input::-ms-input-placeholder{
        font-family:PingFangTC-Regular;
        color:#9b9b9b;
      }
    }
}
.operator-color{
      color: #4c80cf;
      font-size: 12px;
      cursor: pointer;
      .c2mfont{
        border: 1px solid #9D9D9D;
        border-radius: 50%;
        color: #9D9D9D;
        font-size: 16px;
      }
      .c2mfont:hover{
        color: #fff;
        background-color: #4c80cf;
        border-color: #4c80cf;
      }
      &.operator{
        &.operator:first-of-type{
          margin-right: 10px;
        }
      }
    }
    .line{
      color: #d9d9d9;
      &.line:first-of-type{
        margin-right: 25px;
        margin-left: 3px;
      }
      &.line:last-of-type{
        display: inline-block;
        width: 18px;
      }
    }