.baseData-content {
  .column-hidden {
    display: none;
  }
  .columns-distribute {
    cursor: pointer;
    text-align: center;
    border: 1px solid #9a9a9a;
    border-radius: 100%;
    color: #4a4a4a;
    &:hover{
      background-color: #4c80cf;
      color: #fff;
      border:1px solid #4c80cf;
    }
  }
  .meaName {
    padding-left: 14px;
  }
  .meterage-bar {
    line-height: 68px;
    .type-btn {
      display: inline-block;
      width: 86px;
      height: 30px;
      text-align: center;
      color: #A29E9E;
      border-radius: 2px;
      font-size: 14px;

      &:hover {
        cursor: pointer;
      }
    }
    .default-btn {
      color: #fff;
      background-color: #4c80cf;
      border-color: #4c80cf;
    }
    .default-btn:hover {
      background: #fff;
      color: #108ee9;
    }
    .active {
      background-color: #7FB7EF;
      color: #FFFFFF;
      line-height: 30px;
    }
    .add-btn {
      float: right;
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}