.addTenant-con{
    .ant-select-selection{
        height:32px;
    }
    .ant-form-explain {
        width: 165px;
    }
            
}
.platCategoryComp{
    .base-search-bar{
        border-bottom:none !important;
    }
    .handle{
        text-align:center;
    }
    .table-tooltip{
        display: inline-block;
        vertical-align: top;
    }
}
