
.companyset-box{
    position: relative;
    .initCompyMsg{
        width: 100%;
        text-align: center;
        font-size: 20px;
        position: absolute;
        top: -25px;
        z-index: 99;
        color: #f6a623;
    }
    .companyset-content{
         padding: 30px;
        .companyset-name{
            line-height: 20px;
            font-size: 14px;
            color:#525251;
            text-align: center;
        }
        .companyset-info{
            line-height: 20px;
            font-size: 12px;
            color:#a4a4a4;
            margin-bottom: 20px;
            margin-top: 10px;
            text-align: center;
        }
        .companyset-logo{
            margin-bottom: 20px;
            text-align: center;
             img{
                  width: 140px;
                  height: 80px;
             }
        }
        .companyset-con{
            display: flex;
            justify-content:center;
            .companyset-con-box{
                 border:1px solid #ebebeb;
                 padding: 20px 50px;
                 padding-bottom: 10px;
                  p{
                 margin-bottom: 10px;
                .company-tit{
                    display: inline-block;
                    width: 96px;
                    color:#a1a0a0;
                    font-size: 12px;
                    text-align: right;
                    vertical-align: top;
                }
                .company-text{
                    max-width: 400px;
                    display: inline-block;
                    text-align: left;
                    margin-left:10px;
                    word-break: break-all;
                    color:#4b4b4a;
                }
            }
            }
        }
        .ant-btn{
            margin-top: 20px;
            width: 120px;
            height: 30px;
            line-height: 30px;
        }
        .company-set-button{
            text-align: center;
        }
    }
}
